<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.womenassist">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WomenAssist">
        <activity
            android:name=".HomeActivity"
            android:exported="true"/>
        <activity
            android:name=".HistoriqueAlerteActivity"
            android:exported="true" />
        <activity
            android:name=".MembreAssociationActivity"
            android:exported="true" />
        <activity
            android:name=".Parametre"
            android:exported="true"/>
        <activity
            android:name=".AfficheAssociation"
            android:exported="true" />
        <activity
            android:name=".ListeForum"
            android:exported="true" />
        <activity
            android:name=".ListeArticle"
            android:exported="true" />
        <activity
            android:name=".MonCompte"
            android:exported="true" />
        <activity
            android:name=".ListeArticleActivity"
            android:exported="true"/>
        <activity
            android:name=".ResponsableAssociationActivity"
            android:exported="true"/>
        <activity
            android:name=".ListeForumActivity"
            android:exported="true" />
        <activity
            android:name=".FicheConseilActivity"
            android:exported="true" />
        <activity
            android:name=".ListeAssociationActivity"
            android:exported="true" />
        <activity
            android:name=".DetailsConseil"
            android:exported="true" />
        <activity
            android:name=".CompteMembre"
            android:exported="true" />
        <activity
            android:name=".Aide"
            android:exported="true" />
        <activity
            android:name=".A_Propos"
            android:exported="true" />
        <activity
            android:name=".Notification"
            android:exported="true" />
        <activity
            android:name=".AjoutResponsable"
            android:exported="true" />
        <activity
            android:name=".ModifierArticle"
            android:exported="true"/>
        <activity
            android:name=".AjoutArticle"
            android:exported="true" />
        <activity
            android:name=".ModifierFicheConseil"
            android:exported="true" />
        <activity
            android:name=".AjoutFicheConseil"
            android:exported="true" />
        <activity
            android:name=".AjoutForum"
            android:exported="true" />
        <activity
            android:name=".ModifierForum"
            android:exported="true"/>
        <activity
            android:name=".CompteAssociation2"
            android:exported="true" />
        <activity
            android:name=".CompteAssociation"
            android:exported="true" />
        <activity
            android:name=".RegisterMemberActivity"
            android:exported="true" />
        <activity
            android:name=".ConnexionActivity"
            android:exported="true"/>
        <activity
            android:name=".ContactConfianceActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.welcomepagetheme"/>
    </application>
</manifest>